/* START basic elements styling (ATOMS) */
body {
    background: linear-gradient(lightskyblue, lightblue) !important;
}

.container {
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    box-sizing: border-box;
    height: inherit;
    margin: 0 auto;
    max-width: 1180px;
    position: relative;
    width: 100%;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

p {
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    display: inline;
    letter-spacing: inherit;
    text-decoration: none;
    text-transform: inherit;
    vertical-align: baseline;
}

i {
    font-family: FontAwesome;
    font-style: normal;
}

a:hover {
    text-decoration: none;
}

[class^="title-"] {
    color: inherit;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.title-xl {
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 800;
}

h1, .title-l {
    color: inherit;
    font-size: 24px;
    font-weight: 800;
}

h2, .title-m {
    color: inherit;
    font-size: 18px;
    font-weight: 800;
}

.title-s {
    font-size: 16px;
}

.title-xs {
    font-size: 14px;
}

@media screen and (max-width: 767px) {

    .mobile-visible {
        display: block !important;
    }

    .mobile-hidden {
        display: none !important;
    }

    .container {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
    }

}

@media screen and (max-width: 1023px) {

    .tablet-visible {
        display: block !important;
    }

    .tablet-hidden {
        display: none !important;
    }

    .container {
        max-width: 768px;
    }

}

@media screen and (min-width: 1024px) {

    .desktop-visible {
        display: block !important;
    }

    .desktop-hidden {
        display: none !important;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1180px) {

    .container {
        max-width: 1024px;
    }
}
/* END basic elements styling (ATOMS) */

/* START Header */
header {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 10px 1px rgba(0,0,0,0.5);
    display: flex;
    height: 60px;
}

header .container {
    align-items: center;
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-between;
}

nav {
    align-self: stretch;
    align-items: stretch;
    display: flex;
}

nav .menu {
    align-items: stretch;
    display: flex;
}

.menu li {
    align-items: center;
    display: flex;
    padding: 0 20px;
}

.menu li:hover {
    background-color: #EDEDED;
    cursor: pointer;
}
/*  END Header */

/* START index page */
.container.content {
    display: flex;
    flex-flow: nowrap row;
    height: calc(100vh - 60px);
    padding: 40px 0;
}

.content .map-container {
    background-color: #EDEDED;
    box-shadow: 0px 0px 10px 2px rgba(171,171,171,0.5);
    flex-basis: 75%;
    margin-right: 20px;
}

.content .right {
    display: flex;
    flex-flow: nowrap column;
    flex-basis: 25%;
    justify-content: space-between;
    margin-left: 20px;
}

.content .bikes {
    background-color: #EDEDED;
    box-shadow: 0px 0px 10px 2px rgba(171,171,171,0.5);
    flex: 1 1 auto;
    padding: 20px 0;
}

.bikes .title-l {
    margin-bottom: 10px;
    padding: 0 20px;
}

.bikes ul {
    margin-left: 0;
}

.bikes .bike {
    align-items: center;
    border-top: 1px solid lightgrey;
    display: flex;
    flex-flow: nowrap row;
    padding: 10px 20px;
}

.bikes .bike:last-of-type {
    border-bottom: 1px solid lightgrey;
}

.bikes .add-bike {
    align-items: center;
    border-top: 1px solid lightgrey;
    display: flex;
    flex-flow: nowrap row;
    justify-content: center;
    padding: 10px 20px;
}

.bike:hover,
.bike.is_active {
    background-color: #cdcdcd;
    cursor: pointer;
}

.bike .bike__img {
    border-radius: 50%;
    background-color: white;
    height: 40px;
    margin-right: 10px;
    width: 40px;
}

.bike .bike__content {
    display: flex;
    flex-flow: nowrap column;
}

.bike__content .title-xs,
.bike__content p {
    margin-bottom: 0;
}

.bike-detail {
    background-color: #EDEDED;
    box-shadow: 0px 0px 10px 2px rgba(171,171,171,0.5);
    display: flex;
    flex-flow: nowrap column;
    height: 220px;
    justify-content: space-between;
    margin-top: 40px;
    padding: 20px;
}

.bike-detail .bike__info {
    align-items: center;
    display: flex;
    flex-flow: nowrap row;
}

.bike__img {
    border-radius: 50%;
    background-color: white;
    height: 60px;
    margin-right: 10px;
    width: 60px;
}

.bike-detail .route {
    margin-bottom: 0;
}
/* END index page */